[default]
# default variables to dispatch files
# during IP installations
DESIGNS_DIR=${PLATFORM}/design
MODELS_DIR=${PLATFORM}/models
LIBRARY_DIR=${PLATFORM}/library
TESTCASES_DIR=${PLATFORM}/testcases
DOCUMENTATION_DIR=${PLATFORM}/documents
CONSTRAINTS_DIR=${PLATFORM}/constraints

[repositories]
# at least have the current directory
sources = ./
        git@github.com:LudwigCRON/vpm.git

