[default]
# default variables to dispatch files
# during IP installations
DESIGNS_DIR=design
MODELS_DIR=models
LIBRARY_DIR=library
TESTCASES_DIR=testcases
DOCUMENTATION_DIR=documents
CONSTRAINTS_DIR=constraints

[repositories]
# at least have the current directory
sources = ./
        ../resync
        ../sar

